body {
  background-color: #202020;
  color: white;
  font-family: 'Mulish', sans-serif;
}

h1 {
  font-size: 47px;
  margin: 50px 0 80px 30px;
}

/* 

Dandole estilos a las tablas

*/

table {
  border: 4px solid grey;
  /* para que no haya espacios entre los bordes */
  border-collapse: collapse;
}

th,
td {
  border-bottom: 2px solid grey;
  padding: 10px;
}

th {
  height: 30px;
  text-align: center;
  background-color: gray;
  color: black;
}

.col-titulo {
  width: 150px;
}

.col-descripcion {
  width: 400px;
}

.col-importante {
  width: 50px;
}

tr:hover {
  background-color: grey;
}
