body {
  background-color: #202020;
  color: white;
  font-family: sans-serif;
}

h1 {
  font-size: 47px;
  margin: 50px 0 60px 30px;
}

h3 {
  font-size: 28px;
}

p {
  font-size: 20px;
}

.serif {
  font-family: 'Times New Roman', Times, serif;
}

.sans-serif {
  font-family: Arial, Helvetica, sans-serif;
}

.cursiva {
  font-family: 'Comic Sans MS', cursive;
}

.monospace {
  font-family: 'Courier New', Courier, monospace;
}

.fantasía {
  font-family: 'Papyrus', fantasy;
}

.fuente-personalizada {
  font-family: 'Montserrat', sans-serif;
}
